.section2 {
  margin-inline: 150px;
  .btn {
    display: flex;
    gap: 0px;
    justify-content: center;
    .button-kuk {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .button-oqroq {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .section2-img {
    display: flex;
    justify-content: space-between;
    gap: 74px;
    text-align: center;
  }

  .section2-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;

    .mon {
      color: black;
    }
  }
}
